.containerAllSections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.hundredLogoImg {
    position: relative;
    top: -125px;
    background-image: url(./assets/ArtfoodLogo.png);
    background-position: center center;
    width: 100%;
    height: 700px;
    border-radius: 0 0 40px 40px;
}

.hundredContainer {
    max-width: 1300px;
}

.aboutPage {
    display: flex;
    justify-content: space-between;
    margin: -40px 0 80px;
}

.dataPage {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px;
}

.namePage {
    color: #151515;
    font-family: Eastman;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
}

.TagsPage {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.TagsPage p {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.4px;
    border: 2px solid #000;
    padding: 1px 20px;
    border-radius: 16px;
}

.FAQPage {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 50px;
}

.linkPage {
    color: #151515;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}


.pictureOne {
    background-image: url(./assets/ArtfoodPicTwo.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100% ;
    border-radius: 16px;
    width: 100%;
    height: 750px;
}

.pictureContainer {
    width: 1300px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pictureTwo {
    background-image: url(./assets/Xaviar.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 49%;
    height: 650px;
}

.pictureThree {
    background-image: url(./assets/KolApur.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 49%;
    height: 650px;
}

.pictureFout {
    background-image: url(./assets/ArtfoodPahaco.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 49%;
    height: 650px;
}

.pictureFive {
    background-image: url(./assets/kanachVolor.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 49%;
    height: 650px;
}

.PhotoshootsTitleSection {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.PhotoshootsTitleSection h1 {
    color: #232323;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.PhotoshootsTitleSection p {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
}

.WhatADoThispage {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.WhatADoTitle {
    color: #232323;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.ParagraphSection {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.ParagraphSection p {
    width: 650px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
}

.anyPictures {
    display: flex;
    gap: 15px;
    margin: 30px 0;
}

.CarouselOne {
    background-image: url(./assets/artfood.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.CarouselTwo {
    background-image: url(./assets/One.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.CarouselThree {
    background-image: url(./assets/Two.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.CarouselFour {
    background-image: url(./assets/Three.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.CarouselFive {
    background-image: url(./assets/Four.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.CarouselSix {
    background-image: url(./assets/Five.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.CarouselSeven {
    background-image: url(./assets/Six.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.CarouselEight{
    background-image: url(./assets/Seven.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 650px;
}

.lineBar {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-radius: 40px 40px 0 0;
}